@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
/* font-family: 'Chelsea Market', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* font-family: 'Roboto Mono', monospace; */

* {
	padding: 0%;
	margin: 0;
	box-sizing: border-box;
	max-width: 100%;
	/* border: 1px solid black; */
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	color: #4f4f4f;
	line-height: 1.5;
	max-width: 85%;
	margin: 0 auto;
	font-family: 'Roboto Mono', monospace;
}

section {
	padding: 4% 0;
}

section.info {
	padding-left: 60px;
}

nav {
	padding: 2% 0;
}

nav a {
	display: inline-block;
	border-radius: 10px;
	padding: 1% 0;
	text-align: center;
	/* width: 8%; */
	color: #fff;
	text-decoration: none;
	line-height: 1;
	font-size: 1.1rem;
}

.orange {
	border: none;
	padding: 5px 10px;
	margin: 0 20% 0 12%;
	background-color: #ff764e;
}

.blue {
	border: none;
	padding: 5px 10px;
	margin: 0 12% 0 20%;
	background-color: #5ed3eb;
}

.yellow {
	border: none;
	padding: 5px 14px;
	margin: 0 20% 0 12%;
	background-color: #ffcd69;
}

.info {
	position: relative;
	margin: 0 auto;
	padding: 5% 5% 5% 8%;
}

.content {
	padding: 0 0 0 10%;
	margin: 0 auto;
}

.img,
.text {
	display: inline-block;
}

img.hero {
	width: 250px;
	border-radius: 50%;
	border: none;
}

.text {
	width: 55%;
	position: absolute;
	top: 25%;
}

.text div {
	width: 80%;
	margin: 0 auto;
}

.footer-container {
	height: 40vh;
	background-image: url('/assets/footer_img.jpg');
}
